In [1]:
import pandas as pd
import tensorflow as tf
import numpy as np

WARNING:tensorflow:From C:\Users\abdelFerdous\miniconda3\envs\myenv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [5]:
tf.__version__

'2.15.0'

In [2]:
df = pd.read_csv("Churn_modelling.csv")
df.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [7]:
df.describe

<bound method NDFrame.describe of       RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]>

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
X = df.iloc[:,3:-1].values
Y = df.iloc[:, -1].values

In [3]:
#encoding gender column
from sklearn.preprocessing import LabelEncoder

In [6]:
le = LabelEncoder()
X[: , 2] = le.fit_transform(X[:, 2])

In [14]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

In [7]:
#encoding geography column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [8]:
ct = ColumnTransformer(transformers = [('encoder' , OneHotEncoder() , [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [18]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train , x_test , y_train, y_test = train_test_split(X, Y , test_size = 0.2, random_state = 0)

In [11]:
#feature_scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [25]:
x_train

array([[-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [12]:
#building Neural Network
ann = tf.keras.models.Sequential()

WARNING:tensorflow:From C:\Users\abdelFerdous\miniconda3\envs\myenv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [13]:
#adding input layer
ann.add(tf.keras.layers.Dense(units=6 , activation = 'relu'))

In [14]:
ann.add(tf.keras.layers.Dense(units=6 , activation = 'relu'))

In [15]:
ann.add(tf.keras.layers.Dense(units=1 , activation = 'sigmoid'))

In [16]:
ann.compile(optimizer ='adam' , loss = 'binary_crossentropy', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\abdelFerdous\miniconda3\envs\myenv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [17]:
ann.fit(x_train, y_train, batch_size = 32 , epochs = 100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\abdelFerdous\miniconda3\envs\myenv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\abdelFerdous\miniconda3\envs\myenv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 2ms/step - loss: 0.5849 - accuracy: 0.7621
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4844 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4534 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4383 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4279 - accuracy: 0.7955
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4177 - accuracy: 0.7987
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4051 - accuracy: 0.8169
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3911 - accuracy: 0.8299
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3770 - accuracy: 0.8378
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3669 - accuracy: 0.8465
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3605 - accuracy: 0.8514
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3571 - accuracy: 0.8545
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3539 - accuracy: 0.8544
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3522 - accuracy: 0.8550
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3503 - accuracy: 0.8561
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3496 - accuracy: 0.8565
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3482 - accuracy: 0.8580
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3471 - accuracy: 0.8591
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3467 - accuracy: 0.8580
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3457 - accuracy: 0.8597
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3451 - accuracy: 0.8597
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3442 - accuracy: 0.8599
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3439 - accuracy: 0.8606
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3433 - accuracy: 0.8618
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3429 - accuracy: 0.8612
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3422 - accuracy: 0.8608
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3418 - accuracy: 0.8608
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3411 - accuracy: 0.8620
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3405 - accuracy: 0.8618
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3405 - accuracy: 0.8619
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3400 - accuracy: 0.8622
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3395 - accuracy: 0.8631
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8620
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3389 - accuracy: 0.8643
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8620
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8630
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8624
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3373 - accuracy: 0.8630
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3369 - accuracy: 0.8626
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8641
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8620
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8643
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3361 - accuracy: 0.8624
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3366 - accuracy: 0.8620
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3362 - accuracy: 0.8640
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3358 - accuracy: 0.8643
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8625
Epoch 48/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3355 - accuracy: 0.8614
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8639
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3356 - accuracy: 0.8640
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3346 - accuracy: 0.8635
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8634
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3350 - accuracy: 0.8640
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3350 - accuracy: 0.8635
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3348 - accuracy: 0.8621
Epoch 56/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3350 - accuracy: 0.8641
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8639
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3345 - accuracy: 0.8652
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8637
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8643
Epoch 61/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3345 - accuracy: 0.8631
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3339 - accuracy: 0.8651
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3342 - accuracy: 0.8616
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3334 - accuracy: 0.8648
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3338 - accuracy: 0.8650
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3333 - accuracy: 0.8641
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3332 - accuracy: 0.8641
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3338 - accuracy: 0.8633
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3335 - accuracy: 0.8639
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8630
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3336 - accuracy: 0.8646
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8644
Epoch 73/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3328 - accuracy: 0.8644
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8661
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8637
Epoch 76/100

250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8656
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8649
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8652
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8660
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8644
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8641
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8637
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3323 - accuracy: 0.8643
Epoch 84/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3324 - accuracy: 0.8640
Epoch 85/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3324 - accuracy: 0.8648
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3319 - accuracy: 0.8644
Epoch 87/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8659
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8654
Epoch 89/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8648
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8644
Epoch 91/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3324 - accuracy: 0.8643
Epoch 92/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8659
Epoch 93/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3324 - accuracy: 0.8649
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3318 - accuracy: 0.8656
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3320 - accuracy: 0.8655
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3318 - accuracy: 0.8646
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8660
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3319 - accuracy: 0.8658
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3315 - accuracy: 0.8643
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3316 - accuracy: 0.8669

In [18]:
vec = np.array([1,0,0 , 600 , 1 , 40 , 3, 60000, 2, 1, 1, 50000 ])

In [20]:
ann.predict(sc.transform([vec]) > 0.5)

1/1 [==============================] - 2s 2s/step

array([[0.02210678]], dtype=float32)

In [22]:
y_pred = ann.predict(x_test)
y_pred = (y_pred > 0.5 )
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test) , 1) ),1))

63/63 [==============================] - 0s 1ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [23]:
from sklearn.metrics import accuracy_score , confusion_matrix

In [24]:
cm = confusion_matrix(y_test , y_pred)
cm

array([[1520,   75],
       [ 202,  203]], dtype=int64)

In [25]:
accuracy_score(y_test , y_pred)

0.8615